/*.container{*/
/*    clear:both;*/
/*    overflow:auto;*/
/*}*/

/*nav{*/
/*    float:right;*/
/*    margin-right: 50px;*/
/*}*/



/*.logo img{*/
/*    float:left;*/
/*}*/

/*ul li{*/
/*    display: inline-block; padding:10px;*/
/*    font-size:20px;*/
/*    margin-right: 40px;*/
/*    margin-top: 20px;*/
/*}*/
/*ul li a {*/
/*    color: #1d2f4e;*/
/*    text-decoration: none;*/
/*}*/

/*ul li:visited{*/
/*    color: #1d2f4e;*/
/*    text-decoration: none;*/
/*}*/

.left{
    float: left;
    text-align: center;
    width: 50%;
    height: 150px;

}
.right{
    float: right;
    text-align: center;
    width: 50%;
    height: 150px;
}

.boxCenter{
    width: 400px;
    height: 600px;
    background-color: lightgray;
    margin-right: auto;
    margin-left: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bg-navbar {
    background: goldenrod;
}

.bg-smallBar {
    background: #249b71;
}

.txt-navbar {
    color: white;
}

.txt-black {
    color: black;
}

.txt-tabs {
    color: #0dcaf0;
}

.btn-edit {
    background: #f88a45;
}

.p-0 {
    padding: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fde590;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.loginContainer{
    width: 200px;
    height: 350px;
    background-color: lightgray;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 75%;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 25% 25%  25%  25% ;
    height: 600px;
    padding: 10px;
}

.grid-container1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 200px;



}

.grid-container2 > div {
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;

}