<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type= "text/css" href="../../static/myStyleSheet.css">-->
    <link th:rel="stylesheet" th:href="@{/myStyleSheet.css} "/>
    <title>Login</title>

</head>
<body>
<div class="container bg-primary">
    <div class="d-flex justify-content-center h-100">
        <div class="card m-3">
    <label for="uname">Username</label>
    <br>
    <input type="text" id="uname"  name="uname" required>
    <br><br>
    <label for="psw">Password</label>
    <br>
    <input type="password" id="psw" name="psw" required>
    <br><br>
    <button type="submit">Login</button>
    <br><br>
    <form action="/register" class="d-flex justify-content-center">
        <input type="submit" value="Register">
    </form>
        </div>
    </div>
</div>
</body>
</html>