<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/myStyleSheet.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Recipe Book</title>
    <style>


    </style>
</head>
<body>
<div class="container-fluid bg-success" style="width: 70%; height: 100vh">
    <nav class="bg-navbar navbar-fixed-top col-centered" style="width: 70%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand txt-navbar" href="/favorites">Recipe Book</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a class="txt-navbar" href="/home">Home</a></li>
                <li><a class="txt-navbar" href="/favorites">Favorites</a></li>
                <li><a class="txt-navbar" href="/forum">Forum</a></li>
                <li class="active"><a class="txt-navbar txt-black" href="/recipeBook">Recipe book</a></li>
                <li><a class="txt-navbar" href="/planner">Planner</a></li>
                <li><a class="txt-navbar" href="/home">Profile</a></li>
                <li><a class="txt-navbar" href="/">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/favorites">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>




<div class="container-fluid">
<!--<form action="/searchRecipe">-->
<!--    <input type="submit" value="Search recipe" style="height: 100px; width: 200px; margin-top: 100px">-->
<!--</form>-->
<!--    <button class="btn btn-edit" id="createBtn" style="margin-top: 5vh; margin-left: 5vh; width: 100px; height: 30px;">Create recipe</button>-->
    <div class="container" style="margin-top: 100px">
        <div class="navbar bg-smallBar col-centered" style="width: 50%;">
            <nav class="navbar" style="margin: 0 auto; width: 50%;">
                <ul class="nav navbar-nav" style="margin: 0 auto; width: 100%;">
                    <li style="margin: 0 auto; width: 100%;"><a style="text-align: center" class="txt-navbar" href="#" id="createBtn">Create Recipe</a></li>
                </ul>
            </nav>
        </div>

    <!-- The Modal -->
    <div id="createModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <label for="recipeTitle">Recipe title</label>
            <br>
            <input type="text" id="recipeTitle" name="recipeTitle" required>
            <br><br>
            <label for="description">Description</label>
            <br>
            <input type="text" id="description" name="description" required>
            <br><br>
            <label for="contents">Contents</label>
            <br>
            <textarea id="contents" name="contents" style="height: 300px" required></textarea>
            <br><br>
            <label for="category">Category</label>
            <br>
            <select id="category" name="category">
                <option value="test1">test1</option>
                <option value="test2">test2</option>
            </select>
            <br><br>
            <label for="levelOfDificulty">Level of dificulty (1-5)</label>
            <br>
            <input type="number" id="levelOfDificulty" name="levelOfDificulty" required>
            <br><br>
            <button type="createRecipe">Create recipe</button>
        </div>

    </div>
</div>


<div style="margin-top: 5vh; margin-bottom: 6vh;">
<h1 style="text-align: center">Recipes</h1>
<div class="boxCenter">
    <div class="left">
        <img src="/images/pasta.jpeg" height="100%" width="100%">
    </div>

    <div class="right">
        <p>Recipe Title</p>
        <br>
        <p>Category</p>
        <!-- Trigger/Open The Modal -->
        <button id="editBtn">Edit recipe</button>

        <!-- The Modal -->
        <div id="editModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close1">&times;</span>
                <label for="editRecipeTitle">Recipe title</label>
                <br>
                <input type="text" id="editRecipeTitle" name="editRecipeTitle" required>
                <br><br>
                <label for="editDescription">Description</label>
                <br>
                <input type="text" id="editDescription" name="editDescription" required>
                <br><br>
                <label for="editContents">Contents</label>
                <br>
                <textarea id="editContents" name="editContents" style="height: 300px" required></textarea>
                <br><br>
                <label for="editCategory">Category</label>
                <br>
                <select id="editCategory" name="editCategory">
                    <option value="test1">test1</option>
                    <option value="test2">test2</option>

                </select>
                <br><br>
                <label for="editLevelOfDifficulty">Level of difficulty (1-5)</label>
                <br>
                <input type="number" id="editLevelOfDifficulty" name="editLevelOfDifficulty" required>
                <br><br>
                <button type="editRecipe">Edit Recipe</button>
                <button type="editRecipe">Delete Recipe</button>
            </div>

        </div>
    </div>

    <div class="left">
        <img src="/images/pizza.jpeg" height="100%" width="100%">
    </div>

    <div class="right">
        <p>Recipe Title</p>
        <br>
        <p>Category</p>
    </div>
</div>
</div>

</div>
</div>

<script>
    // Get the modal
    var createModal = document.getElementById("createModal");
    var editModal = document.getElementById("editModal");

    // Get the button that opens the modal
    var createBtn = document.getElementById("createBtn");
    var editBtn = document.getElementById("editBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span1 = document.getElementsByClassName("close1")[0];

    // When the user clicks the button, open the modal
    createBtn.onclick = function() {
        createModal.style.display = "block";
    }
    // When the user clicks the button, open the modal
    editBtn.onclick = function() {
        editModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        createModal.style.display = "none";
    }
    // When the user clicks on <span> (x), close the modal
    span1.onclick = function() {
        editModal.style.display = "none";
    }

</script>
</body>
</html>